<nav class="navbar navbar-dark navbar-expand-lg bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">IMDI</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href = "{% url 'homepage' %}">Homepage</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href = "{% url 'add_film' %}">Add Film</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href = "{% url 'add_director' %}">Add Directors</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Films
            </a>
            <ul class="dropdown-menu">
            {% for film in films %}
                <li><a class="dropdown-item" href = "#">{{film.title}}</a></li>
                <li><hr class="dropdown-divider"></li>
            {% endfor %}
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href = "#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Directors
            </a>
            <ul class="dropdown-menu">
            {% for director in directors %}
                <li><a class="dropdown-item" href = "#">{{director}}</a></li>
                <li><hr class="dropdown-divider"></li>
            {% endfor %}
            </ul>
          </li>
        </ul>
        <!-- <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form> -->
      </div>
    </div>
  </nav>