body{
	font-family: 'THOR Ragnarok', sans-serif;
	word-spacing: 10px;
}
nav{
	float: left;
	width: 100%;
	background-color: black;
	color: white;
}
i{
	float: left;
}
ul{
	float: right;
	margin-right: 113px;
	text-transform: uppercase;
}
li{
	display: inline;
}
section{
	background-image: url("Images/thorBackground.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	top: 50px;
	height: 648px;
}
div{
	padding: 50px;
	padding-top: 288px;
	color:#FFFF88 ;
	text-shadow: 2px 2px 5px #ACE4F4;
}
h1{
	font-size: 36px;
}
p{
	font-size: 16px;
}
footer{
	position:fixed;
	bottom: 0;
	width: 100%;
	text-align: center;
	padding: 11px;
	background-color: black;
	color: white;
}
a:link{
	text-decoration: none;
	color: #ACE4F4;
}
a:visited{
	color: #ACE4F4;
}
a:hoover{
	font-size: 24px;
	color:#FFFF88 ;
	text-shadow: 2px 2px 5px #ACE4F4;
}