.wraper{
	display: grid;
	grid-template-rows: repeat(16, 1fr);
	grid-template-columns: repeat(16, 1fr);
	grid-gap: 10px;
}
.wraper div{
	width: 84px;
	height: 84px;
}
#orange{
	background-color: orangered;
	
}
#yellow{
	background-color: lightsalmon;
	
}
#brown{
	background-color: brown;
}
#lighGrey{
	background-color: lightgrey;
	
}
#grey{
	background-color: grey;
	
}
#darkGrey{
	background-color: darkgrey;
}
#black{
	background-color: black;
}