.first_element{
	background-color: Black;
	color: white;
}
.second_element{
	background-color: yellow;
}
.first_element, .second_element{
	font-size: 28px;
	font-family: Helvetica, Times New Roman, sans-serif;
}